<div class="blog-list">
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button (click)="onAddBlog()" color="primary">Ajouter un blog</button>
  </div>
  <br>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let blog of blogs; let i = index" [colspan]="blog.cols" [rowspan]="blog.rows">
      <mat-card class="blog-card">
        <mat-card-header>
          <mat-card-title>
            {{blog.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onUpdateBlog(blog._id)">Modifier</button>
              <button mat-menu-item (click)="onDeleteBlog(blog._id, i)">Supprimer</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="blog-image" src="{{blog.image}}" alt="Landscape photo">
        <mat-card-content class="blog-card-content">
          <p>{{blog.description}}</p>
        </mat-card-content>
        <mat-card-actions class="blog-action">
          <button mat-raised-button color="primary" (click)="onBlog(blog._id)">Détails</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
