.blog-list {
  margin-top: 9%;
}

.blog-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.blog-card-content {
  text-align: center;
}

.blog-image {
  height: 70%;
  width: 80%;
  margin-left: 10%;
}

.blog-action {
  text-align: center;
}
