@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

// Themes
@import '../themes/default-theme.scss';
@import '../themes/light-theme.scss';
@import '../themes/black-theme.scss';

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #333333;
}

.default-theme {
  @include angular-material-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
}
